<form [formGroup]="keysForm" name="keysForm" id="keysform">
  <p class="mat-caption">
    Enter your preferred keys for the respective Braille dots. In the text field
    below, you can enter Braille characters by pressing the Braille keys in
    combination.
  </p>
  <fieldset>
    <app-key-input
      inputId="dot7"
      label="⡀"
      formControlName="dot7"
    ></app-key-input>
    <app-key-input
      inputId="dot3"
      label="⠄"
      formControlName="dot3"
    ></app-key-input>
    <app-key-input
      inputId="dot2"
      label="⠂"
      formControlName="dot2"
    ></app-key-input>
    <app-key-input
      inputId="dot1"
      label="⠁"
      formControlName="dot1"
    ></app-key-input>
    <app-key-input
      inputId="space"
      label="⠀"
      formControlName="space"
    ></app-key-input>
    <app-key-input
      inputId="dot4"
      label="⠈"
      formControlName="dot4"
    ></app-key-input>
    <app-key-input
      inputId="dot5"
      label="⠐"
      formControlName="dot5"
    ></app-key-input>
    <app-key-input
      inputId="dot6"
      label="⠠"
      formControlName="dot6"
    ></app-key-input>
    <app-key-input
      inputId="dot8"
      label="⢀"
      formControlName="dot8"
    ></app-key-input>
  </fieldset>
</form>
