<form [formGroup]="keysForm" name="keysForm" id="keysform">
  <p>Here you can adjust the keys you want to produce braille dots with</p>
  <mat-grid-list cols="9" rowHeight="1:1">
    <mat-grid-tile>
      <label class="braille" for="dot7">⡀</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot3">⠄</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot2">⠂</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot1">⠁</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <span>⠀</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot4">⠈</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot5">⠐</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot6">⠠</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <label class="braille" for="dot8">⢀</label>
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot7"
        formControlName="dot7"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot3"
        formControlName="dot3"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot2"
        formControlName="dot2"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot1"
        formControlName="dot1"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <span>␣</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot4"
        formControlName="dot4"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot5"
        formControlName="dot5"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot6"
        formControlName="dot6"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <input
        type="text"
        id="dot8"
        formControlName="dot8"
        minlength="1"
        maxlength="1"
        required
      />
    </mat-grid-tile>
  </mat-grid-list>
</form>
